<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}

    <link rel="stylesheet" href="{% static 'jobs/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Statistics</title>
    
    
  </head>
  <body>

    <div class= "banner"> </div>
    {% comment %} <div class="overview-container"> 
        <div class = "card c1">
          Jobs posted in your location
          {{ numbersForCountry }}
        </div>
        <div class = "card c2">
          Jobs posted this month
          {{ numbersForMonth }}
        </div>
        <div class = "card c3">
          Jobs posted today
          {{ numbersForDay }}
        </div>
      </div> {% endcomment %}

    


    <div class="main-chart-container">

      <div class = "chart-container"> 
        {{chart|safe}}
      </div> 

      <div class="text-description"> 
        {% for job, count in job_posted_stat_summary_list.items %} 
          <p> The percentage of {{job}} jobs are {{count}}% </p>
        {% endfor %} 

        {% for text in job_posted_stat_summary_list_inc_type %} 
          <p> {{text}} </p>
        {% endfor %} 
      </div>
  
      <div class="expert-domain">


        <div class = "chart-container expert"> 
          {{chart3|safe}}
        </div>   
        {% comment %} <div class="text-description"> </div> {% endcomment %}

        <div class = "chart-container expert"> 
          {{chart6|safe}}
        </div>   
        
        {% comment %} <div class="text-description"> </div> {% endcomment %}


      </div>

      <div class="text-description"> </div>
      
      

      <div class = "chart-container"> 
        {{chart4|safe}}
      </div>   
      <div class="text-description"> </div>

      <div class = "chart-container"> 
        {{chart5|safe}}
      </div>   
      <div class="text-description"> </div>

      
      
      <div class = "chart-container"> 
        {{chart7|safe}}
      </div>   
      <div class="text-description"> </div>

      <div class = "chart-container"> 
        {{chart8|safe}}
      </div>   
      <div class="text-description"> </div>
    
    
    
    </div>


  </body>
</html>


